{% extends "network/layout.html" %}

{% block title %} Following {% endblock %}

{% block body %}
    {% if notFollowing %}
        <div class="notFollowing">
            <h3>The user is not following to anyone!</h3>
        </div>
    {% else %}
        <div class="followingPosts">
            {% for post in posts %}
                <div class="post">
                    <div>
                        <h3 id="postUser"><a href={{post.user.id}} id="usrN">{{ post.user }}</a></h3>
                        {% if post.user == user %}
                            <button class="editButton" onclick="editPost(`{{post.id}}`)">Edit post</button>
                        {% endif %}
                    </div>
                    <div id="ID{{post.id}}">
                        <h5 id="postMessage">{{ post.content }}</h5>
                    </div>
                    <div">
                        <h6 id="postDateTime">{{ post.time }}</h6>
                        <h6 class="likeCount" id="like{{post.id}}"></h6>
                        <button class="postLike B{{post.id}}" id="like{{post.user}}" onclick="likePost({{post.id}}, true)">Like</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}