{% extends "network/layout.html" %}

{% block title %} Following {% endblock %}

{% block body %}
    {% if notFollowing %}
        <div class="notFollowing">
            <h3>The user is not following to anyone!</h3>
        </div>
    {% else %}
        <div class="followingPosts">
            {% for post in posts %}
                <div class="post">
                    <div>
                        <h3 id="postUser"><a href={{post.user.id}} id="usrN">{{ post.user }}</a></h3>
                        {% if post.user == user %}
                            <button class="editButton" onclick="editPost(`{{post.id}}`)">Edit post</button>
                        {% endif %}
                    </div>
                    <div id="ID{{post.id}}">
                        <h5 id="postMessage">{{ post.content }}</h5>
                    </div>
                    <div>
                        <h6 id="postDateTime">{{ post.time }}</h6>
                        <h6 class="likeCount" id="like{{post.id}}"></h6>
                        <button class="postLike B{{post.id}}" id="like{{post.user}}" onclick="likePost({{post.id}}, true)">Like</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="paginator_item">
        {% if posts %}
            {% if posts.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example">
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    <ul class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo; Previous</a></li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo; Previous</span>
                            </li>
                        {% endif %}

                        {% for page in posts.paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next &raquo;</a></li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next &raquo;</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}