{% extends "network/layout.html" %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
<div class="userInfo">
    <h2 id="usern">{{ username }}</h2>
    <div class="follow">
        {% if username != user %}
            <div id="follow"> </div>
        {% endif %}
    </div>
</div>
<div class="follows">
    {% for us in users %}
        <div class="userFollow">
            <div class="userNameFollow">
               <h4><a href="{{ us.id }}">{{us.following}}</a></h4>
            </div>
            <div class="userFollowsItem">
                <div class="userfollowers">
                    <h5 class="followers" id="followers{{us.id}}"></h5>
                </div>
                <div class="userfollowed">
                    <h5 class="followed" id="followed{{us.id}}"></h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="paginator_item">
    {% if users %}
        {% if users.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <span class="current">
                    Page {{ users.number }} of {{ users.paginator.num_pages }}.
                </span>

                <ul class="pagination">
                    {% if users.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo; Previous</a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo; Previous</span>
                        </li>
                    {% endif %}

                    {% for page in users.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endfor %}

                    {% if users.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next &raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% endif %}
</div>

{% endblock %}