{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="newPost">
            <form action="/" method="post">
                {% csrf_token %}
                <textarea name="newPost" id="newPost" cols="30" rows="3" placeholder="Anything new?"></textarea>
                <button id="sendPost" type="submit">Post</button>
            </form>
        </div>
    {% endif %}
    <div class="allPost">
        {% for post in posts %}
            <div class="post">
                <div>
                    <h3 id="postUser"><a href={{post.user.id}} id="usrN">{{ post.user }}</a></h3>
                    {% if post.user == user %}
                        <button class="editButton" onclick="editPost(`{{post.id}}`)">Edit post</button>
                    {% endif %}
                </div>
                <div id="ID{{post.id}}">
                    <h5 id="postMessage">{{ post.content }}</h5>
                </div>
                <div">
                    <h6 id="postDateTime">{{ post.time }}</h6>
                    <h6 class="likeCount" id="like{{post.id}}"></h6>
                    <button class="postLike B{{post.id}}" id="like{{post.user}}" onclick="likePost({{post.id}}, true)">Like</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}