{% extends "network/layout.html" %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
<div class="userInfo">
    <h2 id="usern">{{ username }}</h2>
    <div class="follow">
        {% if username != user %}
            <div id="follow"> </div>
        {% endif %}
        <div class="userfollowers">
            <h5 id="userFollowers"><a href="{{username.id}}/followers">Followers: {{ followers }}</a></h5>
        </div>
        <div class="userfollowed">
            <h5 id="userfollowed"><a href="{{username.id}}/follows">Follows: {{ followed }}</a></h5>
        </div>
    </div>
</div>
<div class="userposts">
    {% for post in posts %}
        <div class="post">
            <div>
                <h3 id="postUser"><a href={{post.user.id}} id="usrN">{{ post.user }}</a></h3>
                {% if post.user == user %}
                    <button class="editButton" onclick="editPost(`{{post.id}}`)">Edit post</button>
                {% endif %}
            </div>
            <div id="ID{{post.id}}">
                <h5 id="postMessage">{{ post.content }}</h5>
            </div>
            <div>
                <h6 id="postDateTime">{{ post.time }}</h6>
                <h6 class="likeCount" id="like{{post.id}}"></h6>
                <button class="postLike B{{post.id}}" id="like{{post.user}}" onclick="likePost({{post.id}}, true)">Like</button>
            </div>
        </div>
    {% endfor %}
</div>

<div class="paginator_item">
    {% if posts %}
        {% if posts.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo; Previous</a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo; Previous</span>
                        </li>
                    {% endif %}

                    {% for page in posts.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endfor %}

                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next &raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% endif %}
</div>

<script>
    fetch(`{{username.id}}/follow`)
    .then(response => response.json())
    .then(data => {
        const user = String(`{{user}}`);
        const userID = Number(`{{user.id}}`);
        const followersNum = Number(`{{followers}}`);
        let follower = false;

        for (let f=0; f<followersNum; f++) {
            if (user == data[f]) {
                follower = true;
                break;
            };
        };

        const button = document.createElement('button');
        button.id = "follUnfoll";
        if (follower) {
            button.setAttribute('onclick', `follow(false, ${userID})`);
            button.innerHTML = "Unfollow";
        }
        else {
            button.setAttribute('onclick', `follow(true, ${userID})`);
            button.innerHTML = "Follow";
        };

        document.querySelector('#follow').appendChild(button);
    });
</script>
{% endblock %}