{% extends "network/layout.html" %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
<div class="userInfo">
    <h2 id="usern">{{ username }}</h2>
    <div class="follow">
        {% if username != user %}
            <div id="follow"> </div>
        {% endif %}
        <div class="userfollowers">
            <h5 id="userFollowers">Followers: {{ followers }}</h5>
        </div>
        <div class="userfollowed">
            <h5 id="userfollowed">Follows: {{ followed }}</h5>
        </div>
    </div>
</div>
<div class="userposts">
    {% for post in posts %}
        <div class="post">
            <div>
                <h3 id="postUser"><a href={{post.user.id}} id="usrN">{{ post.user }}</a></h3>
                {% if post.user == user %}
                    <button class="editButton" onclick="editPost({{post.id}})">Edit post</button>
                {% endif %}
            </div>
            <div>
                <h5 id="postMessage">{{ post.content }}</h5>
            </div>
            <div>
                <h6 id="postDateTime">{{ post.time }}</h6>
                <button  id="postLike">Likes {{ post.like }}</button>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    fetch(`{{username.id}}/follow`)
    .then(response => response.json())
    .then(data => {
        const user = String(`{{user}}`);
        const userID = Number(`{{user.id}}`);
        const followersNum = Number(`{{followers}}`);
        let follower = false;

        for (let f=0; f<followersNum; f++) {
            if (user == data[f]) {
                follower = true;
                break;
            };
        };

        const button = document.createElement('button');
        button.id = "follUnfoll";
        if (follower) {
            button.setAttribute('onclick', `follow(false, ${userID})`);
            button.innerHTML = "Unfollow";
        }
        else {
            button.setAttribute('onclick', `follow(true, ${userID})`);
            button.innerHTML = "Follow";
        };

        document.querySelector('#follow').appendChild(button);
    });
</script>
{% endblock %}